// widths
$widthContainer: 1440;
$widthMobile: 375;

// colors
$colorOrange: #ff7700;
$colorWhite: #fff;
$colorLightGrey: #798796;
$colorMediumGrey: #1e2a35;
$colorBlue: #0e1a26;
$colorDarkBlue: #0b0d12;
